

#teste[value="teste"]{
background:#a00;

}


.code{

display:none;
}



.code *{

display:none;
}

.code .visible{

display:block;
}

:target{
display:block;
}



/****************** logical functions **********/

/* NOT */
/* if a1 is true then return false */
.not .a1{
display:block;
}
.a1.proccess:checked ~ .result{
    display:block;
}

.a1.proccess:checked {
    /* content:"0" */
    display:none;
}


.a1.field:checked ~ .result:after{
    content:"0";
}

.a1.field:not(:checked) ~ .result:after{
    content:"1";
}

/* hide proccessed fields */



.a1.proccess:checked ~ .a1{
display:none;
}
